<%= form_for [@store, @style_item], html: { multipart: true } do %>
  <% if @style_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@style_item.errors.count, "error") %> prohibited this style item from being saved:</h2>

      <ul>
      <% @style_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label>Name:</label><br>
  <%= text_field_tag :item_type, @style_item.item_type %><br>

  <label>Description</label><br>
  <%= text_area_tag :description, @style_item.description %><br>

  <label>Image:</label><br>
  <%= file_field :picture, @style_item.picture %>
  
  <%= submit_tag "Submit Changes" %>
<% end %>
